<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Infinite Banking</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>CreateServlet</servlet-name>
  	<servlet-class>com.banktoDatabase.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateServlet</servlet-name>
  	<url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>registeruserServlet</servlet-name>
  	<servlet-class>com.banktoDatabase.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registeruserServlet</servlet-name>
  	<url-pattern>/go</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>VerifyLogin</servlet-name>
  	<servlet-class>VerifyLogin</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>verifyLogin1</servlet-name>
  	<servlet-class>com.banktoDatabase.verifyLogin1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>verifyLogin1</servlet-name>
  	<url-pattern>/servlet/verifyLogin1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCon</servlet-name>
  	<servlet-class>GetCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCon</servlet-name>
  	<url-pattern>/servlet/GetCon</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>com.banktoDatabase.MyListener</listener-class>
  </listener>
</web-app>